<% if logged_in? %>
  <%= render partial: "users/user_info", locals: {user: @user, jobs: @jobs} %>
<% else %>
  <h3>Sign Up!</h3>
  <div><%= render partial: "users/signup_form", locals: {user: @user} %></div>
  <br>
  <h3>Or, Log In!</h3>
  <div><%= render "sessions/login_form" %></div>
  <br>
<% end %>
