<br><br>
<form id="job-search">

  <fieldset class="form-group">
    <input type="text" class="form-control" id="skill" placeholder="What skill do you have? (e.g. Ruby, Python)">
  </fieldset>

  <fieldset class="form-group">
    <input type="text" class="form-control" id="zip" placeholder="What's your zipcode?">
  </fieldset>

  <fieldset class="form-group">
    <input type="text" class="form-control" id="age" placeholder="What's your limit for job post age? (in days)">

  <input type="submit" value="Find a job!">
</form>
<br><br>
<div id="dice-feed">
  <!-- items from DiceAPI search get appended here -->
</div>
