<br><br>
<form id="job-search">

  <fieldset class="form-group" action="demoform.asp">
    <input type="text" class="form-control" id="skill" placeholder="What are you searching for? (e.g. Ruby, Python)" required>
  </fieldset>
  <fieldset class="form-group">
    <input type="text" class="form-control" id="zip" placeholder="What's your zipcode?" required>
  </fieldset>
  <fieldset>
    <p class="meta" style="color: rgb(204,204,204); font-size:14px;" >Mode of transportation:</p>
    <select class="form-control" id="mode-of-transit">
      <option>Public transportation</option>
      <option>Driving</option>
    </select>
  </fieldset>
  <br>
  <fieldset>
    <p class="meta" style="color: rgb(204,204,204); font-size:14px;" >Time to query:</p>
    <!-- <select class="form-control" id="age">
      <option>3 days</option>
      <option>1 week</option>
      <option>2 weeks</option>
      <option>3 weeks</option>
      <option>1 month</option>
    </select> -->
    <input type="range" data-show-value="true" onchange="updateTextInput(this.value)" data-popup-enabled="true" id="age" value="1" min="1" max="30">
    <input type="submit" value="Find a job!">
</form>
<br><br>

<div id="dice-feed">
  <!-- items from DiceAPI search get appended here -->
</div>
