<br><br>
<form id="job-search">
  <article class="post-favorite col-xs-12 col-sm-6 ">
    <fieldset class="form-group" action="demoform.asp">
      <input type="text" class="form-control" id="skill" placeholder="What are you searching for? (e.g. Ruby)" required>
    </fieldset>
    <fieldset class="form-group">
      <br>
      <input type="text" class="form-control" id="zip" placeholder="What's your zipcode?" required>
    </fieldset>
  </article>
  <article class="post-favorite col-xs-12 col-sm-6 ">
    <fieldset>
      <input type="text" class="form-control" id="age" placeholder="How far back? (number of days)">
    </fieldset><br><br>
    <fieldset>
      <select class="form-control" id="mode-of-transit">
        <option>Public transportation</option>
        <option>Driving</option>
        <option>Bicycling</option>
        <option>Walking</option>
      </select>
  </article>
      <input type="submit" value="Find a job!">
</form>
<br><br>

<div id="results-count"></div>
<div id="dice-feed">
  <!-- items from DiceAPI search get appended here -->
</div>
