<!doctype html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/github_client.js"></script>

  <!-- Create a form for the user to enter
Personal token.
Gist file name.
Gist description.
Gist contents. -->
<h1>Find a job!</h1>
<form>
  Skill:<br>
  <input type="text" id="skill"><br>
  Zipcode:<br>
  <input type="text" id="zip">
  <input type="submit">
</form>

</body>
