<% if logged_in? %>

  <%= render partial: "users/user_info", locals: {user: @user} %>

<% else %>

  <h3>Sign Up!</h3>
  <div><%= render partial: "users/signup_form", locals: {user: @user} %></div>
  <br>
  <h3>Or, Log In!</h3>
  <div><%= render "sessions/login_form" %></div>
  <br>

<% end %>


<h1>Find a job!</h1>
<form id="job-search">
  Skill:<br>
  <input type="text" id="skill"><br>
  Zipcode:<br>
  <input type="text" id="zip">
  <input type="submit">
</form>

<div id="dice-feed">
  <!-- items from DiceAPI search get appended here -->
</div>
