<h1>Find a job!</h1>
<form>
  Skill:<br>
  <input type="text" id="skill"><br>
  Zipcode:<br>
  <input type="text" id="zip">
  <input type="submit">
</form>

<div id="dice-feed">
  <!-- items from DiceAPI search get appended here -->
</div>
