<br><br>
<form id="job-search">
  <fieldset class="form-group">
    <input type="text" class="form-control" id="skill" placeholder="Enter skill, e.g. Ruby, Python">
  </fieldset>
  <fieldset class="form-group">
    <input type="text" class="form-control" id="zip" placeholder="Enter zipcode">
  </fieldset>
  <fieldset class="form-group">
    <input type="text" class="form-control" id="mode-of-transit" placeholder="Enter a way to get there: TRANSIT or DRIVING">
  <input type="submit" value="Find a job!">
</form>
<br><br>
<div id="dice-feed">
  <!-- items from DiceAPI search get appended here -->
</div>
